@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

header {
    background: #111;
    background-image: url('https://source.unsplash.com/random');
    background-position: center;
    background-blend-mode: overlay;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #F1F1F1;
    height:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header .header-btn {
    outline: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    background: indigo;
    border: none;
    border-radius: 4px;
    color: #fff;
    margin: 2rem auto;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

header .header-btn:hover {
    opacity: 0.7;
    transition: opacity 0.3s ease-in-out;
}

header h1 {
    font-size: 2rem;
}

header p {
    font-size: 1rem;
    margin-top: 1rem;
    line-height: 1.5;

}

.header-content input {
    padding: 0.5rem 4rem;
    font-size: 1rem;
    text-align: center;
    border: none;
    border-radius: 3px;
    color: indigo;
    margin: 2rem auto;
    line-height: 1;
}

.header-content span {
    font-size: 1rem;
    margin-left: -40px ;
    align-self: center;
    color: indigo;
    opacity: 0.7;

    
}

.humberger {
    position: absolute;
    left: 2rem;
    top: 2rem;
    font-size: 1rem;
    z-index: 1;
    cursor: pointer;

}

#close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 2rem;
    font-size: 1rem;
    cursor: pointer;

}

#close:hover {
    transform: rotate(180deg);
}



.menu-bar {
    position: absolute;
    left: 0;
    top:0;
    height: auto;
    width: 20rem;
    position: fixed;
    display:none;
    background: #111; 
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
    padding: 2rem;
    transition: 0.3s ease-in-out;
    z-index: 1;
    border-right: 1rem solid #eee;
    border-bottom: 1rem solid #eee;
    
    
}
.menu-bar h2 {
    margin: 3rem auto;
    background: indigo;
    padding: 1rem ;
    width: 100%;
    border-left: solid #eee 3px;
    font-size: 1rem;
    
}

.menu-bar ul {
    list-style: none;
}
.menu-bar ul li {
    margin: 1rem auto;
    text-align: left;
    padding: 1rem;
    background: #111;
    opacity: 0.5;
    
}

.menu-bar ul li:hover {
    background: indigo;
    border-bottom: 0.1rem solid #eee;
    border-left: 0.3rem solid #eee;
    transition: opacity 0.3s ease-in-out;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
    
}

.menu-bar ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;

}

/* .menu-bar ul li a span {
    color: #fff;
    margin-left: 1rem;
} */

.menu-bar ul li .andSign {
    color: orange;
    margin: 0.3rem
}

.form {
    background: indigo;
    width: 25rem;
    padding: 2rem;
    height: auto;
    color: #fff;
    margin: 5rem auto;
    text-align: center;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    
}

.form-container {
    background: rgba(0,0,0,0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    opacity: 0;
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    transition: opacity 0.3s ease-in-out;
}

.form label {
    display: block;
    margin: 0.5rem;
    font-size: 1.5rem;

}

.form input {
    padding: 0.7rem 1rem;
    width: 100%
}

.form-btn {
    width: 7rem;
    margin: 2rem auto;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background: #000;

}

.form-container.show {
    opacity: 1;
    pointer-events: auto;
}
.doc {
    background: #eee;
    padding: 3rem;
    margin: auto;
    width: 100vw;
    text-align: center;
}

.doc h1 {
    color: indigo;
}



section {
    text-align:justify;
    width: 70%;
    margin: 4rem auto;
    border-left: 5px solid red;
    border-left-style: ridge;
    border-bottom: 2px solid red;
    padding:1rem 2rem;
    font-size: 1rem;
    line-height: 1.5;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);


}


.html-snippet h1 {
    line-height: 2;
    font-weight: 700;
    color: red;
}

.css-snippet h1 {
    line-height: 2;
    font-weight: 700;
    color: dodgerblue;
}

.js-snippet h1 {
    line-height: 2;
    font-weight: 700;
    color: gold;
}

.css-snippet{
    border-left: 5px solid dodgerblue;
    border-left-style: ridge;
    border-bottom: 2px solid dodgerblue;
    border-bottom-style: solid;

}

.js-snippet {
    border-left: 5px solid gold;
    border-left-style: ridge;
    border-bottom: 2px solid gold;
    border-bottom-style: solid;

}

.doc-links  {
    float: right;
    text-decoration: none;
    background: indigo;
    padding: 0.2rem 0.5rem;
    border-radius: 3px;
    color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
}

.doc-links:hover {
    letter-spacing: 2px;
    transition: all 0.3s ease-in-out;

}

.info  {
    margin-top: 1rem;
    
}

.fa-arrow-right {
    color: indigo;
    margin-right: 0.5rem;
}


pre {
    
    width: 70%;
    text-align: left;
    margin: auto;
}

code {
    
    width: 100%;
    height: auto;
    font-size: 1rem;
    font-family: 'Fira Code',sans-serif; 
    border: 10px solid #333;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    line-height: 1.5;

}

@media (max-width: 850px) {
    section {
        width: 100%;
        font-size: 0.7rem;
    }
    
    pre {
        width: 100%;

    }

    .doc h1, header h1 {
        font-size: 2rem;
    }

    header p {
        font-size: 0.7rem;
        text-align: center;
        padding: 0 2rem        
    }

    .humberger {
        left: 1rem;
    }

    .menu-bar ul {
        overflow-y: scroll;
    }

    .html-snippet h1, .css-snippet h1, .js-snippet h1 {
        font-size: 1rem;
    }
    
}