@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}
/* .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
} */





header {
    background: #111;
    background-image: url('https://source.unsplash.com/random');
    background-position: center;
    background-blend-mode: overlay;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #F1F1F1;
    height:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header .header-btn {
    outline: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    background: indigo;
    border: none;
    border-radius: 4px;
    color: #fff;
    margin: 2rem auto;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

header .header-btn:hover {
    opacity: 0.7;
    transition: opacity 0.3s ease-in-out;
}

header h1 {
    font-size: 2rem;
}

header p {
    font-size: 1rem;
    margin-top: 1rem;
    line-height: 1.5;

}

.header-content input {
    padding: 0.5rem 4rem;
    font-size: 1rem;
    text-align: center;
    border: none;
    border-radius: 3px;
    color: indigo;
    margin: 2rem auto;
    line-height: 1;
}

.header-content span {
    font-size: 1rem;
    margin-left: -40px ;
    align-self: center;
    color: indigo;
    opacity: 0.7;

    
}

.humberger {
    position: absolute;
    left: 2rem;
    top: 2rem;
    font-size: 1rem;
    z-index: 1;
    cursor: pointer;

}

#close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 2rem;
    font-size: 1rem;
    cursor: pointer;

}

#close:hover {
    transform: rotate(180deg);
}



.menu-bar {
    position: absolute;
    left: 0;
    top:0;
    height: auto;
    width: 20rem;
    position: fixed;
    display:none;
    background: #111; 
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
    padding: 2rem;
    transition: 0.3s ease-in-out;
    z-index: 1;
    border-right: 1rem solid #eee;
    
    
}
.menu-bar h2 {
    margin: 3rem auto;
    background: indigo;
    padding: 1rem ;
    width: 100%;
    border-left: solid #eee 3px;
    font-size: 1rem;
    
}

.menu-bar ul {
    list-style: none;
}
.menu-bar ul li {
    margin: 1rem auto;
    text-align: left;
    padding: 1rem;
    background: #111;
    opacity: 0.5;
    
}

.menu-bar ul li:hover {
    background: indigo;
    border-bottom: 0.1rem solid #eee;
    border-left: 0.3rem solid #eee;
    transition: opacity 0.3s ease-in-out;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
    
}

.menu-bar ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;

}

/* .menu-bar ul li a span {
    color: #fff;
    margin-left: 1rem;
} */

.menu-bar ul li .andSign {
    color: orange;
    margin: 0.3rem
}
.doc {
    background: #eee;
    padding: 3rem;
    margin: auto;
    width: 100vw;
    text-align: center;
}

.doc h1 {
    color: indigo;
}

section {
    text-align:justify;
    width: 70%;
    margin: 4rem auto;
    border-left: 10px solid #9c9c9c;
    border-left-style: ridge;
    border-bottom: 2px solid #9c9c9c;
    padding: 0 0 1rem 1rem;
    font-size: 1rem;
    line-height: 1.5;

}

section h1 {
    line-height: 2;
    text-transform: uppercase;
    font-weight: 700;
    color: #333;
}

section:nth-child(odd){
    border-left: 10px solid dodgerblue;
    border-left-style: ridge;
    border-bottom: 2px solid dodgerblue;
    border-bottom-style: solid;

}

section:last-child {
    border-left: 10px solid orange;
    border-left-style: ridge;
    border-bottom: 2px solid orange;
    border-bottom-style: solid;

}


pre {
    
    width: 70%;
    text-align: left;
    margin: auto;
}

code {
    
    width: 100%;
    height: 25rem;
    font-size: 1rem;
    font-family: 'Fira Code',sans-serif; 
    border: 10px solid #333;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    line-height: 1.5;

}

@media (max-width: 850px) {
    section {
        width: 100%;
        font-size: 0.7rem;
    }
    
    pre {
        width: 100%;

    }

    .doc h1, header h1 {
        font-size: 1rem;
    }

    header p {
        font-size: 0.7rem;
        
    }
}